# Dependencies
.pnp.js
.vite/
/.pnp
node_modules/

# Testing
/coverage
*.log

# Production
/dist
/build

# Misc
.DS_Store
.env*
!.env.example

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Temp
*.tmp
.cache/
.temp/
